.column {
	margin: 10px;
	padding: 5px;

	min-width: 200px;
	max-height: 100%;

	border: 0 solid;
	border-radius: 5px;

	background-color: #bcbcbc;
}

.columnHeader{
	text-align: start;
	margin-bottom: 5px;
}

.columnContent {
	max-height: 100%;
}

.columnFooter {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.addSVG {
	width: 17px;
}